# {{ ansible_managed }}

user www-data;
worker_processes {{ ansible_processor_vcpus * 2 }};
pid /var/run/nginx.pid;

events {
        worker_connections  768;
}

http {
        ##
        # Basic Settings
        ##
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        types_hash_max_size 2048;
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        # Disable cache (useful when testing)
        # sendfile is also disabled because of virtualbox bug:
        # https://www.vagrantup.com/docs/synced-folders/virtualbox.html
        add_header Cache-Control private;
        add_header Last-Modified "";
        sendfile off;
        expires off;
        etag off;

        ##
        # Logging Settings
        ##
        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        ##
        # Virtual Host Configs
        ##
        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}

